@model TheFruityMixologist.ViewModels.EventSliderVM

@{
    ViewData["Title"] = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="row">
        <div class="row images my-4">
            @foreach (var image in Model.AllImages)
            {
                <div class="col-2">
                    <div class="card" style="width:152px">
                        <img style="width:150px;height:150px;object-fit:contain" src="~/assets/photos/partyEvents/@image.Path" class="card-img-top" />
                    </div>
                        <input type="text" name="ImagesId" value="@image.Id" />
                </div>
            }
        </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventData)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
