@model TheFruityMixologist.ViewModels.RecipeVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeVM</h4>
    <hr />
    <dl class="row">
        @foreach (var image in Model.AllImages)
        {
               <div class="row">
                <div class="card" style="width:152px">
                    <img style="width:150px;height:150px;object-fit:contain" src="~/assets/photos/Recipes/@image.Path" class="card-img-top @(image.IsMain == true ? "main" : "") @(image.IsMain==false ? "falsee" : "")" />
                </div>
               </div>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryIds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryIds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
