@model SlidersVM
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    List<Recipe> recipes = ViewBag.HomeRecipes;
    List<Recipe> raytingRecipes = ViewBag.RaytingRecipes as List<Recipe>;
    Recipe highestRatedRecipe = raytingRecipes.Where(r => r.PointReyting > 3).OrderByDescending(r => r.PointReyting).FirstOrDefault();
    Subscribe subscribe = ViewBag.Subscribe;
    List<Setting> settings = ViewBag.PartnerPartial;
}

<main>
      <section id="CreateOwnCocktail">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 image">
              
            </div>
            <div class="col-lg-6 text">
              <div class="title">
                <h1>
                  Create your own cocktail experience with our customizable page
                </h1>
              </div>
              <div class="descAndButtons">
                <div class="desc">
                  <p>
                    Choose your liquor, mixers, and garnishes to craft your
                    perfect sip. Elevate your happy hour with a drink that's truly
                    yours. Let's cheers to your individuality!
                  </p>
                 
                </div>
                <div class="button">
                  <div class="icon">
                    <svg
                      width="15"
                      height="14"
                      viewBox="0 0 15 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13"
                        stroke="#ED0039"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                            <a asp-controller="CreateCocktail" asp-action="Index">Create your own cocktail</a>
                </div>
              <!-- <div class="lean"></div> -->
           
            </div>
          </div>
        </div>
      </section>
      <section id="PopularEvents">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 text">
              <span>Popular Events</span>

              
              <p>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even
                slightly believable.If you are going to use a passage of Lorem
                Ipsum, you need to be sure there isn't anything embarrassing
                hidden in the middle of text.
              </p>
            </div>
            <div class="col-lg-7">
              <div class="">
                <div class="slider-images responsive">
              @foreach(var item in Model.slider){
                  <div class="event">
                    <div class="image">
                     <img style="width: 100%; height:100%"
                 src="~/assets/photos/Home/Slider/@item.ImagePath" />
                    </div>
                    <div class="date">
                      <span class="dates">@item.Date.ToString("MMM dd, yyyy")</span>
                      <div class="line"></div>
                      <span class="clock">
                        <svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                            fill="#A3A3A3"
                          />
                          <path
                            d="M15.7099 15.93C15.5799 15.93 15.4499 15.9 15.3299 15.82L12.2299 13.97C11.4599 13.51 10.8899 12.5 10.8899 11.61V7.51001C10.8899 7.10001 11.2299 6.76001 11.6399 6.76001C12.0499 6.76001 12.3899 7.10001 12.3899 7.51001V11.61C12.3899 11.97 12.6899 12.5 12.9999 12.68L16.0999 14.53C16.4599 14.74 16.5699 15.2 16.3599 15.56C16.2099 15.8 15.9599 15.93 15.7099 15.93Z"
                            fill="#A3A3A3"
                          />
                        </svg>
                        @item.Date.ToString("HH:mm")
                      </span>
                    </div>
                    <div class="event-name">
                      <span>@item.Name</span>
                    </div>
                  </div>
                 
            }
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="TrendingRecipes">
        <div class="container">
          <div class="row">
            <div class="title">
              <span>Trending recipes</span>
            </div>
            <div class="categorys">
              <ul>
                                                <li><a asp-controller="Home" asp-action="Sorts" name="sort" value="All">All</a></li>
                                                <li><a asp-controller="Home" asp-action="Sorts" name="sort" value="Alcoholic">Alcoholic</a></li>
                                                <li><a asp-controller="Home" asp-action="Sorts" name="sort" value="Non-Alcoholic">Non-Alcoholic</a></li>
              </ul>

                  <script>
                                                                const sortLinks = document.querySelectorAll('a[name="sort"]');

                                                sortLinks.forEach(link => {
                                                    link.addEventListener('click', (event) => {
                                                        event.preventDefault();
                                                        const selectedSort = link.getAttribute('value');

                                                        fetch(`/Home/Sorts?sort=${selectedSort}`, {
                                                            method: 'POST'
                                                        })
                                                            .then(response => response.text())
                                                            .then(result => {
                                                                document.getElementById("recipesResult").innerHTML = result;
                                                            })
                                                            .catch(error => console.log(error));
                                                    });
                                                });
            </script>
            </div>
                <div class="products" id="recipesResult">

							@await Html.PartialAsync("_HomeRecipePartial",recipes)


          </div>
        </div>
      </section>

      <section id="OurServices">
        <div class="container">
            <div class="row">
                <div class="title">
                   Our Services
                </div>
                <div class="text">
                   <span> There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour, or randomised.</span>
                </div>
                <div class="services">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="service">
                            <div class="image">
                                <svg width="155" height="100" viewBox="0 0 155 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_673_1604)">
                                    <path d="M116.721 79.6341C116.298 76.7842 116.187 73.8969 116.388 71.0229L116.721 66.2664C114.885 69.9211 115.3 74.7314 116.721 79.6341Z" fill="#CACACA"/>
                                    <path d="M118.154 80.4298C117.95 78.7292 117.896 77.014 117.993 75.3041L118.154 72.4728C117.27 74.6482 117.47 77.5115 118.154 80.4298Z" fill="#CACACA"/>
                                    <path d="M124.52 83.9312V85.5226C124.52 85.649 124.469 85.7701 124.38 85.8595C124.29 85.9488 124.169 85.9994 124.043 86H123.247C123.226 85.9999 123.206 86.004 123.186 86.012C123.167 86.0199 123.149 86.0317 123.135 86.0465C123.12 86.0612 123.108 86.0788 123.1 86.0982C123.092 86.1175 123.088 86.1382 123.088 86.1592V99.2085C123.088 99.335 123.037 99.456 122.948 99.5454C122.858 99.6348 122.737 99.6853 122.611 99.686H112.903C112.777 99.6859 112.655 99.6355 112.566 99.546C112.476 99.4565 112.426 99.3351 112.426 99.2085V86.1592C112.426 86.117 112.409 86.0766 112.379 86.0468C112.349 86.0169 112.309 86.0001 112.267 86H111.312C111.185 85.9999 111.064 85.9496 110.974 85.8601C110.885 85.7706 110.835 85.6492 110.834 85.5226V83.9312C110.834 83.8685 110.847 83.8064 110.871 83.7484C110.895 83.6904 110.93 83.6378 110.974 83.5934C111.018 83.5491 111.071 83.5139 111.129 83.49C111.187 83.466 111.249 83.4537 111.312 83.4538H124.043C124.17 83.4542 124.291 83.5046 124.38 83.594C124.47 83.6835 124.52 83.8047 124.52 83.9312Z" fill="#707070"/>
                                    <path d="M123.102 86.3342H112.44V86.8116H123.102V86.3342Z" fill="#E6E6E6"/>
                                    <path d="M123.088 93.3594C119.52 94.8358 115.913 94.8521 112.267 93.3594V89.9959C115.777 88.8168 119.577 88.8168 123.088 89.9959V93.3594Z" fill="#E6E6E6"/>
                                    <path d="M71.8481 39.8454C75.047 39.8454 77.6401 37.2522 77.6401 34.0534C77.6401 30.8546 75.047 28.2614 71.8481 28.2614C68.6493 28.2614 66.0562 30.8546 66.0562 34.0534C66.0562 37.2522 68.6493 39.8454 71.8481 39.8454Z" fill="#707070"/>
                                    <path d="M73.4619 28.4209C74.4643 28.421 75.4495 28.6812 76.3211 29.1761C77.1928 29.671 77.9212 30.3837 78.435 31.2443C78.9488 32.105 79.2305 33.0843 79.2525 34.0864C79.2745 35.0886 79.0361 36.0793 78.5606 36.9617C79.0627 36.3334 79.4285 35.6074 79.6346 34.83C79.8406 34.0525 79.8825 33.2407 79.7574 32.4462C79.6324 31.6517 79.3432 30.8919 78.9083 30.2153C78.4734 29.5388 77.9024 28.9602 77.2315 28.5165C76.5607 28.0729 75.8048 27.7738 75.012 27.6384C74.2192 27.503 73.4068 27.5343 72.6268 27.7302C71.8467 27.9261 71.116 28.2824 70.4812 28.7763C69.8465 29.2702 69.3216 29.8909 68.9399 30.5989C69.4814 29.9192 70.1691 29.3703 70.9521 28.9932C71.735 28.6161 72.5929 28.4205 73.4619 28.4209Z" fill="#707070"/>
                                    <path d="M61.0252 34.0411C70.4217 34.0411 78.0391 26.4237 78.0391 17.0272C78.0391 7.63066 70.4217 0.0132523 61.0252 0.0132523C51.6286 0.0132523 44.0112 7.63066 44.0112 17.0272C44.0112 26.4237 51.6286 34.0411 61.0252 34.0411Z" fill="#707070"/>
                                    <path d="M47.6719 6.47085C50.6036 3.17382 54.7015 1.14477 59.1008 0.811924C63.5002 0.479081 67.8568 1.86849 71.2511 4.68692C71.1119 4.55466 70.9743 4.42134 70.8297 4.29282C67.457 1.29707 63.0325 -0.236595 58.5292 0.0290352C54.0259 0.294665 49.8125 2.33784 46.8153 5.70933C43.8181 9.08082 42.2825 13.5046 42.5462 18.008C42.8099 22.5114 44.8513 26.7257 48.2215 29.7244C48.366 29.8529 48.5146 29.974 48.6622 30.0967C45.4656 27.0558 43.5754 22.892 43.3907 18.484C43.2059 14.0759 44.741 9.76852 47.6719 6.47085Z" fill="#707070"/>
                                    <path d="M60.881 33.897C66.933 33.897 71.8391 28.9908 71.8391 22.9388C71.8391 16.8868 66.933 11.9807 60.881 11.9807C54.829 11.9807 49.9229 16.8868 49.9229 22.9388C49.9229 28.9908 54.829 33.897 60.881 33.897Z" fill="#FFEBF0"/>
                                    <path d="M66.4789 36.8718L54.7521 37.3989C54.7521 37.3989 55.7309 43.4634 49.3867 44.0402C43.0425 44.6169 37.2751 42.8867 34.9681 47.2123C32.6611 51.5379 33.6555 66.9401 33.6555 66.9401C33.6555 66.9401 37.9811 82.5122 41.4415 84.8192C44.902 87.1262 75.1811 83.9541 75.1811 83.9541L87.8531 67.9536L87.4239 55.6141C87.1997 49.1704 81.3166 44.3325 74.9802 45.5249C74.8558 45.5484 74.7305 45.5736 74.6043 45.6006C74.6043 45.6006 73.2123 44.5602 69.3929 42.6505C67.0573 41.4827 66.4789 36.8718 66.4789 36.8718Z" fill="#CACACA"/>
                                    <path d="M41.0239 43.7518C41.0239 43.7518 43.8111 48.8089 42.6576 56.0182C41.5041 63.2275 46.3439 78.475 46.3439 78.475L49.8043 77.6099C49.8043 77.6099 47.4974 62.6145 48.0741 59.1541C48.6509 55.6936 48.81 45.482 45.9263 43.7518C43.0426 42.0216 41.0239 43.7518 41.0239 43.7518Z" fill="#707070"/>
                                    <path d="M74.4015 46.4034L75.6136 78.3308L77.9206 79.7727C77.9206 79.7727 81.2369 44.7355 79.5066 44.7355H75.9861C75.7777 44.7355 75.5714 44.7765 75.3789 44.8562C75.1864 44.936 75.0115 45.0529 74.8641 45.2002C74.7168 45.3475 74.5999 45.5225 74.5202 45.715C74.4405 45.9075 74.3994 46.1138 74.3994 46.3222C74.3994 46.3493 74.4001 46.3763 74.4015 46.4034Z" fill="#707070"/>
                                    <path d="M47.9297 77.7541C48.726 77.7541 49.3715 77.1085 49.3715 76.3122C49.3715 75.5159 48.726 74.8704 47.9297 74.8704C47.1333 74.8704 46.4878 75.5159 46.4878 76.3122C46.4878 77.1085 47.1333 77.7541 47.9297 77.7541Z" fill="#FF1F53"/>
                                    <path d="M76.7671 79.1959C77.5634 79.1959 78.2089 78.5504 78.2089 77.7541C78.2089 76.9578 77.5634 76.3122 76.7671 76.3122C75.9707 76.3122 75.3252 76.9578 75.3252 77.7541C75.3252 78.5504 75.9707 79.1959 76.7671 79.1959Z" fill="#FF1F53"/>
                                    <path d="M51.5088 9.24104V20.1992H54.0466L57.2763 16.7387L56.8438 20.1992H68.0613L67.3692 16.7387L68.7534 20.1992H70.5413V9.24104H51.5088Z" fill="#707070"/>
                                    <path d="M49.7787 22.2179C50.2565 22.2179 50.6438 21.5078 50.6438 20.6318C50.6438 19.7559 50.2565 19.0458 49.7787 19.0458C49.3009 19.0458 48.9136 19.7559 48.9136 20.6318C48.9136 21.5078 49.3009 22.2179 49.7787 22.2179Z" fill="#FFEBF0"/>
                                    <path d="M71.9833 22.2179C72.4611 22.2179 72.8484 21.5078 72.8484 20.6318C72.8484 19.7559 72.4611 19.0458 71.9833 19.0458C71.5055 19.0458 71.1182 19.7559 71.1182 20.6318C71.1182 21.5078 71.5055 22.2179 71.9833 22.2179Z" fill="#FFEBF0"/>
                                    <path d="M95.985 96.8275V97.7935C95.9855 98.0586 95.9364 98.3215 95.8401 98.5685C95.7974 98.6786 95.7458 98.785 95.6858 98.8868C95.4961 99.2051 95.227 99.4687 94.9048 99.6517C94.5826 99.8348 94.2183 99.9309 93.8477 99.9307H22.7842C22.4136 99.9309 22.0494 99.8347 21.7272 99.6517C21.405 99.4687 21.1358 99.2051 20.9462 98.8868C20.8862 98.785 20.8345 98.6786 20.7918 98.5685C20.6956 98.3215 20.6464 98.0586 20.647 97.7935V96.8275C20.6469 96.5469 20.7021 96.2691 20.8094 96.0098C20.9167 95.7505 21.074 95.515 21.2724 95.3165C21.4707 95.118 21.7062 94.9606 21.9654 94.8531C22.2247 94.7457 22.5025 94.6904 22.7831 94.6903H26.8805V94.2399C26.8804 94.2282 26.8827 94.2167 26.8872 94.2058C26.8916 94.195 26.8982 94.1852 26.9064 94.177C26.9147 94.1687 26.9245 94.1621 26.9352 94.1576C26.946 94.1531 26.9576 94.1508 26.9693 94.1508H29.1068C29.1304 94.1508 29.153 94.1601 29.1698 94.1767C29.1865 94.1934 29.1959 94.216 29.1959 94.2396V94.6903H30.5311V94.2399C30.5311 94.2282 30.5334 94.2167 30.5378 94.2059C30.5423 94.1951 30.5488 94.1852 30.5571 94.177C30.5653 94.1687 30.5751 94.1621 30.5859 94.1576C30.5967 94.1531 30.6082 94.1508 30.6199 94.1508H32.7574C32.781 94.1508 32.8037 94.1601 32.8204 94.1768C32.8371 94.1934 32.8465 94.216 32.8466 94.2396V94.6903H34.1833V94.2399C34.1833 94.2282 34.1856 94.2167 34.1901 94.2059C34.1945 94.1951 34.201 94.1852 34.2093 94.177C34.2175 94.1687 34.2273 94.1621 34.2381 94.1576C34.2489 94.1531 34.2605 94.1508 34.2722 94.1508H36.4097C36.4333 94.1508 36.4559 94.1601 36.4726 94.1768C36.4894 94.1934 36.4988 94.216 36.4988 94.2396V94.6903H37.834V94.2399C37.834 94.2282 37.8362 94.2167 37.8407 94.2059C37.8452 94.1951 37.8517 94.1852 37.8599 94.177C37.8682 94.1687 37.878 94.1621 37.8888 94.1576C37.8996 94.1531 37.9111 94.1508 37.9228 94.1508H40.0603C40.0839 94.1508 40.1066 94.1601 40.1233 94.1768C40.14 94.1934 40.1494 94.216 40.1495 94.2396V94.6903H41.4846V94.2399C41.4846 94.2282 41.4869 94.2167 41.4913 94.2059C41.4958 94.1951 41.5023 94.1852 41.5106 94.177C41.5188 94.1687 41.5286 94.1621 41.5394 94.1576C41.5502 94.1531 41.5618 94.1508 41.5735 94.1508H43.711C43.7346 94.1508 43.7572 94.1601 43.7739 94.1768C43.7907 94.1934 43.8001 94.216 43.8001 94.2396V94.6903H45.1369V94.2399C45.1368 94.2282 45.1391 94.2167 45.1436 94.2059C45.148 94.1951 45.1546 94.1852 45.1628 94.177C45.1711 94.1687 45.1809 94.1621 45.1917 94.1576C45.2024 94.1531 45.214 94.1508 45.2257 94.1508H47.3632C47.3868 94.1508 47.4095 94.1601 47.4262 94.1768C47.4429 94.1934 47.4523 94.216 47.4523 94.2396V94.6903H48.7875V94.2399C48.7875 94.2282 48.7898 94.2167 48.7942 94.2059C48.7987 94.1951 48.8052 94.1852 48.8135 94.177C48.8217 94.1687 48.8315 94.1621 48.8423 94.1576C48.8531 94.1532 48.8647 94.1508 48.8763 94.1508H65.6181C65.6297 94.1508 65.6413 94.1531 65.6521 94.1575C65.6629 94.162 65.6727 94.1685 65.681 94.1768C65.6893 94.185 65.6959 94.1948 65.7003 94.2056C65.7048 94.2164 65.7072 94.228 65.7072 94.2396V94.6903H67.0439V94.2399C67.0439 94.2282 67.0462 94.2167 67.0507 94.2059C67.0551 94.1951 67.0617 94.1853 67.0699 94.177C67.0782 94.1687 67.088 94.1621 67.0987 94.1576C67.1095 94.1532 67.1211 94.1508 67.1328 94.1508H69.2703C69.2939 94.151 69.3164 94.1605 69.3331 94.1772C69.3497 94.1938 69.3592 94.2164 69.3594 94.2399V94.6903H70.6946V94.2399C70.6946 94.2282 70.6969 94.2167 70.7013 94.2059C70.7058 94.1951 70.7123 94.1853 70.7206 94.177C70.7288 94.1687 70.7386 94.1621 70.7494 94.1576C70.7602 94.1532 70.7717 94.1508 70.7834 94.1508H72.921C72.9326 94.1508 72.9442 94.1531 72.955 94.1575C72.9658 94.162 72.9756 94.1685 72.9839 94.1768C72.9922 94.185 72.9988 94.1948 73.0032 94.2056C73.0077 94.2164 73.01 94.228 73.0101 94.2396V94.6903H74.3452V94.2399C74.3452 94.2283 74.3475 94.2167 74.352 94.2059C74.3564 94.1951 74.363 94.1853 74.3712 94.177C74.3794 94.1687 74.3892 94.1621 74.4 94.1577C74.4108 94.1532 74.4224 94.1508 74.4341 94.1508H76.5716C76.5833 94.1508 76.5949 94.1531 76.6057 94.1575C76.6165 94.162 76.6263 94.1685 76.6345 94.1768C76.6428 94.185 76.6494 94.1948 76.6539 94.2056C76.6584 94.2164 76.6607 94.228 76.6607 94.2397V94.6903H77.9975V94.2399C77.9975 94.2283 77.9997 94.2167 78.0042 94.2059C78.0087 94.1951 78.0152 94.1853 78.0234 94.177C78.0317 94.1687 78.0415 94.1621 78.0523 94.1577C78.0631 94.1532 78.0746 94.1508 78.0863 94.1508H80.2238C80.2472 94.1511 80.2696 94.1606 80.286 94.1773C80.3024 94.194 80.3115 94.2165 80.3114 94.2399V94.6903H81.6481V94.2399C81.6481 94.2283 81.6504 94.2167 81.6548 94.2059C81.6593 94.1951 81.6658 94.1853 81.6741 94.177C81.6823 94.1687 81.6921 94.1621 81.7029 94.1577C81.7137 94.1532 81.7253 94.1508 81.737 94.1508H83.8745C83.8862 94.1508 83.8977 94.1531 83.9085 94.1575C83.9193 94.162 83.9292 94.1685 83.9374 94.1768C83.9457 94.185 83.9523 94.1948 83.9568 94.2056C83.9613 94.2164 83.9636 94.228 83.9636 94.2397V94.6903H85.2988V94.2399C85.2988 94.2283 85.301 94.2167 85.3055 94.2059C85.3099 94.1951 85.3165 94.1853 85.3247 94.177C85.333 94.1687 85.3428 94.1621 85.3536 94.1577C85.3643 94.1532 85.3759 94.1508 85.3876 94.1508H87.5251C87.5368 94.1508 87.5484 94.1531 87.5592 94.1575C87.57 94.162 87.5798 94.1685 87.5881 94.1768C87.5964 94.185 87.6029 94.1948 87.6074 94.2056C87.6119 94.2164 87.6142 94.228 87.6143 94.2397V94.6903H93.8477C94.4144 94.6902 94.9579 94.9151 95.3587 95.3157C95.7595 95.7163 95.9848 96.2597 95.985 96.8264L95.985 96.8275Z" fill="#0A0A0A"/>
                                    <path d="M154.532 99.6817H0V100H154.532V99.6817Z" fill="#707070"/>
                                    <path d="M90.2629 56.1461H25.1681C24.9329 56.1461 24.6999 56.1925 24.4825 56.2825C24.2651 56.3726 24.0676 56.5045 23.9012 56.6709C23.7349 56.8373 23.6029 57.0348 23.5129 57.2522C23.4228 57.4696 23.3765 57.7025 23.3765 57.9378V94.2074C23.3765 94.6826 23.5652 95.1383 23.9012 95.4743C24.2372 95.8104 24.693 95.9991 25.1681 95.9991H90.2629C90.7381 95.9991 91.1938 95.8104 91.5298 95.4743C91.8658 95.1383 92.0546 94.6826 92.0546 94.2074V57.9378C92.0546 57.4626 91.8658 57.0069 91.5298 56.6709C91.1938 56.3349 90.7381 56.1461 90.2629 56.1461Z" fill="#3F3D56"/>
                                    <path d="M57.7675 72.7872C59.9648 72.7872 61.746 71.006 61.746 68.8087C61.746 66.6115 59.9648 64.8303 57.7675 64.8303C55.5703 64.8303 53.7891 66.6115 53.7891 68.8087C53.7891 71.006 55.5703 72.7872 57.7675 72.7872Z" fill="#FF1F53"/>
                                    <path d="M82.3962 42.525L102.481 22.282H111.962V21.9637H102.348L102.301 22.011L82.1699 42.3012L82.3962 42.525Z" fill="#707070"/>
                                    <path d="M146.814 13.9712H123.544V16.0447H146.814V13.9712Z" fill="#FF1F53"/>
                                    <path d="M120.708 17.3559H115.782V12.4296H120.708V17.3559ZM116.1 17.0376H120.39V12.7479H116.1L116.1 17.0376Z" fill="#707070"/>
                                    <path d="M146.814 20.883H123.544V22.9566H146.814V20.883Z" fill="#FF1F53"/>
                                    <path d="M120.708 24.2677H115.782V19.3415H120.708V24.2677ZM116.1 23.9494H120.39V19.6598H116.1L116.1 23.9494Z" fill="#707070"/>
                                    <path d="M146.814 27.7949H123.544V29.8684H146.814V27.7949Z" fill="#FF1F53"/>
                                    <path d="M120.708 31.1795H115.782V26.2534H120.708V31.1795ZM116.1 30.8612H120.39V26.5716H116.1L116.1 30.8612Z" fill="#707070"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_673_1604">
                                    <rect width="154.532" height="100" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>                               
                            </div>
                            <div class="servicesName"><span>Create your own cocktail</span></div>
                            <div class="servicesDesc">Inspiration comes from all around us.
                                It's in the ingredients we choose, the recipes we dream up, and the moments we create.</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service">
                            <div class="image">
                                <svg width="240" height="100" viewBox="0 0 240 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_673_4779)">
                                    <path d="M180.288 43.0084V24.3869C180.288 22.5302 181.798 21.0197 183.655 21.0197H195.837C197.693 21.0197 199.204 22.5301 199.204 24.3869V43.0084C199.204 44.8651 197.693 46.3755 195.837 46.3755H183.655C181.798 46.3755 180.288 44.8651 180.288 43.0084Z" fill="#FF1F53"/>
                                    <path d="M186.526 29.0692H192.965V27.4593H186.526V29.0692Z" fill="#0A0A0A"/>
                                    <path d="M188.136 26.2519H191.355V21.0197H188.136V26.2519Z" fill="#0A0A0A"/>
                                    <path d="M188.136 46.3755H191.355V41.1434H188.136V46.3755Z" fill="#0A0A0A"/>
                                    <path d="M171.634 43.761H153.013C151.156 43.761 149.646 42.2505 149.646 40.3938V28.2119C149.646 26.3551 151.156 24.8447 153.013 24.8447H171.634C173.491 24.8447 175.001 26.3551 175.001 28.2119V40.3938C175.001 42.2505 173.491 43.761 171.634 43.761Z" fill="#FF1F53"/>
                                    <path d="M165.946 27.4608H159.506V29.0707H165.946V27.4608Z" fill="#0A0A0A"/>
                                    <path d="M154.877 35.9127V32.6929H149.645V35.9127H154.877Z" fill="#0A0A0A"/>
                                    <path d="M175.001 35.9127V32.6929H169.769V35.9127H175.001Z" fill="#0A0A0A"/>
                                    <path d="M20.5805 78.5824L17.4718 60.4485C16.0904 52.3906 22.0544 44.9341 30.2188 44.5113L74.5359 42.216L85.1127 24.7839C86.5148 22.4729 89.0218 21.0616 91.725 21.0616H123.568C126.071 21.0616 128.186 22.9178 128.511 25.3996L129.319 39.348L208.708 39.5857L218.694 72.4979L209.424 72.046L209.9 82.0289L197.778 82.5043L193.737 71.0781C192.976 68.9265 189.642 66.5006 186.176 64.4709C178.406 59.9207 168.425 61.3811 162.545 68.2001C161.158 69.8087 160.188 71.4847 159.917 73.0563L158.084 83.6927L69.1879 82.2666L57.5372 65.9692C54.0951 62.2234 37.8462 60.8475 36.3829 65.9692L27.5923 78.9389L20.5805 78.5824Z" fill="#707070"/>
                                    <path d="M117.2 31.6688L119.816 43.9986L86.5391 44.7117L93.5672 29.622C94.2047 28.2531 95.6043 27.4032 97.113 27.4688L113.059 28.1621C115.077 28.2498 116.781 29.6923 117.2 31.6688Z" fill="#F2F2F2"/>
                                    <path d="M82.0228 43.761L88.6781 26.6473L86.9357 24.9049L76.0806 41.3841L78.2862 44.7117L82.0228 43.761Z" fill="#F2F2F2"/>
                                    <path d="M177.336 99.3802C186 99.3802 193.024 92.3567 193.024 83.6927C193.024 75.0288 186 68.0052 177.336 68.0052C168.672 68.0052 161.649 75.0288 161.649 83.6927C161.649 92.3567 168.672 99.3802 177.336 99.3802Z" fill="#3F3D56"/>
                                    <path d="M166.521 83.6927C166.521 77.7294 171.373 72.8779 177.336 72.8779C183.3 72.8779 188.151 77.7294 188.151 83.6927C188.151 89.6561 183.3 94.5076 177.336 94.5076C171.373 94.5076 166.521 89.6561 166.521 83.6927ZM166.759 83.6927C166.759 89.5249 171.504 94.2699 177.336 94.2699C183.169 94.2699 187.914 89.5249 187.914 83.6927C187.914 77.8605 183.169 73.1156 177.336 73.1156C171.504 73.1156 166.759 77.8605 166.759 83.6927Z" fill="#F2F2F2"/>
                                    <path d="M168.066 83.6927C168.066 88.8123 172.217 92.9626 177.336 92.9626C182.456 92.9626 186.606 88.8123 186.606 83.6927C186.606 78.5731 182.456 74.4229 177.336 74.4229C172.217 74.4229 168.066 78.5731 168.066 83.6927ZM183.362 81.4729L181.72 82.5434L181.089 81.5752L183.362 81.4729ZM180.862 86.9171L181.299 85.8474L182.676 87.659L180.862 86.9171ZM176.656 90.5857L177.812 88.6252V90.5857H176.656ZM176.656 79.2356L177.812 77.2751V79.2356H176.656ZM171.521 87.659L172.898 85.8474L173.336 86.9171L171.521 87.659ZM170.835 81.4729L173.109 81.5752L172.478 82.5434L170.835 81.4729Z" fill="#E6E6E6"/>
                                    <path d="M45.6567 99.3802C54.3207 99.3802 61.3442 92.3567 61.3442 83.6927C61.3442 75.0288 54.3207 68.0052 45.6567 68.0052C36.9928 68.0052 29.9692 75.0288 29.9692 83.6927C29.9692 92.3567 36.9928 99.3802 45.6567 99.3802Z" fill="#3F3D56"/>
                                    <path d="M34.8418 83.6927C34.8418 77.7294 39.6933 72.8779 45.6567 72.8779C51.62 72.8779 56.4715 77.7294 56.4715 83.6927C56.4715 89.6561 51.62 94.5076 45.6567 94.5076C39.6933 94.5076 34.8418 89.6561 34.8418 83.6927ZM35.0795 83.6927C35.0795 89.5249 39.8243 94.2699 45.6567 94.2699C51.489 94.2699 56.2338 89.5249 56.2338 83.6927C56.2338 77.8605 51.489 73.1156 45.6567 73.1156C39.8243 73.1156 35.0795 77.8605 35.0795 83.6927Z" fill="#F2F2F2"/>
                                    <path d="M36.3867 83.6927C36.3867 88.8123 40.537 92.9626 45.6566 92.9626C50.7762 92.9626 54.9265 88.8123 54.9265 83.6927C54.9265 78.5731 50.7762 74.4229 45.6566 74.4229C40.537 74.4229 36.3867 78.5731 36.3867 83.6927ZM51.6823 81.4729L50.0399 82.5434L49.4089 81.5752L51.6823 81.4729ZM49.1819 86.9171L49.6193 85.8474L50.9965 87.659L49.1819 86.9171ZM44.9763 90.5857L46.132 88.6252V90.5857H44.9763ZM44.9763 79.2356L46.132 77.2751V79.2356H44.9763ZM39.8413 87.659L41.2185 85.8474L41.6559 86.9171L39.8413 87.659ZM39.1555 81.4729L41.4289 81.5752L40.7979 82.5434L39.1555 81.4729Z" fill="#E6E6E6"/>
                                    <path d="M111.14 50.2974H120.172V48.3959H111.14V50.2974Z" fill="#0A0A0A"/>
                                    <path d="M238.447 87.6251C238.363 87.3675 237.725 87.4809 237.664 87.2505C237.603 87.0209 238.215 86.8284 238.684 86.1814C238.769 86.0647 239.303 85.3294 239.098 85.0201C238.71 84.4339 236.011 85.8939 235.363 85.0746C235.221 84.8948 235.162 84.5862 234.739 84.0117C234.57 83.7832 234.462 83.6728 234.333 83.6761C234.15 83.6807 234.084 83.91 233.796 84.3254C233.364 84.9483 233.208 84.8701 232.924 85.3805C232.712 85.7594 232.687 86.0014 232.535 86.0157C232.319 86.0359 232.23 85.5642 231.967 85.5459C231.698 85.5272 231.429 85.9933 231.296 86.3575C231.045 87.0409 231.2 87.5632 231.235 88.0838C231.272 88.6495 231.184 89.4776 230.57 90.5405L224.772 99.7775C226.017 97.8945 229.551 92.7596 230.975 90.8761C231.386 90.3323 231.828 89.7864 232.508 89.6837C233.163 89.5848 233.959 89.9086 235.071 89.8898C235.201 89.8876 235.562 89.8768 235.65 89.6853C235.723 89.527 235.542 89.3893 235.608 89.2405C235.696 89.0408 236.092 89.1265 236.632 88.9939C237.013 88.9004 237.271 88.7459 237.493 88.6131C237.561 88.573 238.559 87.9681 238.447 87.6251Z" fill="#F2F2F2"/>
                                    <path d="M223.262 89.7818C223.112 89.7488 222.983 90.0947 222.852 90.0582C222.722 90.022 222.804 89.6659 222.622 89.2487C222.589 89.1735 222.382 88.6994 222.172 88.7107C221.772 88.7319 221.71 90.478 221.121 90.5596C220.991 90.5775 220.823 90.5171 220.419 90.5593C220.258 90.5761 220.173 90.5973 220.137 90.6616C220.086 90.7529 220.18 90.8513 220.301 91.1125C220.482 91.5043 220.399 91.5582 220.567 91.8452C220.692 92.0582 220.803 92.1403 220.767 92.2192C220.714 92.3309 220.457 92.2385 220.372 92.3625C220.285 92.489 220.436 92.7556 220.577 92.9261C220.84 93.2461 221.141 93.3207 221.406 93.4541C221.695 93.599 222.076 93.8809 222.42 94.4893L225.281 100C224.716 98.8456 223.216 95.6293 222.702 94.387C222.554 94.0283 222.413 93.654 222.559 93.2906C222.699 92.9408 223.088 92.6433 223.4 92.0922C223.436 92.0278 223.535 91.8474 223.466 91.749C223.41 91.6677 223.29 91.7165 223.236 91.6413C223.163 91.5405 223.32 91.3708 223.41 91.0676C223.474 90.8539 223.473 90.6824 223.472 90.5349C223.472 90.4904 223.463 89.8257 223.262 89.7818Z" fill="#F2F2F2"/>
                                    <path d="M226.116 91.1263L226.206 90.2961L226.261 90.244C226.516 90.0028 226.676 89.7473 226.736 89.4844C226.745 89.4426 226.753 89.4003 226.76 89.3572C226.79 89.1865 226.827 88.9743 226.991 88.7539C227.083 88.6311 227.326 88.3536 227.577 88.4505C227.644 88.4758 227.69 88.5197 227.722 88.5662C227.73 88.5581 227.738 88.5501 227.747 88.5413C227.855 88.4361 227.931 88.3976 228.004 88.3605C228.06 88.332 228.118 88.3026 228.215 88.2242C228.258 88.1899 228.293 88.159 228.322 88.133C228.41 88.0545 228.522 87.9626 228.676 87.999C228.84 88.0436 228.896 88.1994 228.933 88.3025C228.999 88.4865 229.019 88.613 229.033 88.6969C229.038 88.7275 229.044 88.762 229.048 88.7732C229.084 88.8633 229.532 88.8866 229.701 88.8964C230.081 88.9169 230.409 88.9348 230.488 89.1946C230.545 89.3805 230.426 89.5833 230.127 89.8132C230.033 89.8848 229.94 89.9342 229.859 89.9711C229.909 90.0184 229.949 90.0827 229.951 90.1703C229.957 90.3776 229.744 90.5367 229.319 90.6439C229.213 90.6709 229.071 90.7065 228.886 90.6975C228.798 90.6932 228.721 90.6798 228.656 90.6673C228.646 90.7045 228.629 90.7432 228.596 90.78C228.502 90.8882 228.349 90.9157 228.142 90.8547C227.913 90.7909 227.732 90.7042 227.573 90.628C227.433 90.5616 227.313 90.5048 227.212 90.4893C227.025 90.4631 226.85 90.5789 226.641 90.733L226.116 91.1263Z" fill="#F2F2F2"/>
                                    <path d="M227.613 86.3976L226.787 86.5212L226.723 86.4811C226.425 86.2954 226.137 86.2058 225.867 86.2146C225.825 86.216 225.782 86.2196 225.738 86.2232C225.566 86.2376 225.351 86.2556 225.096 86.1527C224.954 86.095 224.624 85.9304 224.654 85.6634C224.661 85.5916 224.692 85.5363 224.729 85.4938C224.719 85.4882 224.71 85.4823 224.699 85.4761C224.57 85.3981 224.513 85.3346 224.459 85.2735C224.417 85.2265 224.374 85.178 224.273 85.1031C224.229 85.0703 224.191 85.0448 224.158 85.0234C224.06 84.9582 223.942 84.8728 223.938 84.7145C223.94 84.5452 224.077 84.4516 224.167 84.3895C224.328 84.2786 224.445 84.2268 224.523 84.1924C224.551 84.18 224.583 84.1657 224.593 84.1588C224.671 84.1013 224.58 83.6614 224.547 83.4956C224.47 83.1233 224.404 82.8012 224.635 82.6589C224.801 82.5569 225.027 82.6197 225.326 82.8513C225.418 82.9234 225.49 83.0012 225.546 83.0705C225.579 83.0101 225.631 82.9553 225.715 82.9307C225.915 82.8728 226.122 83.0381 226.334 83.4219C226.387 83.5171 226.457 83.6455 226.496 83.8275C226.514 83.9132 226.52 83.9908 226.525 84.0572C226.563 84.0572 226.605 84.0646 226.649 84.0865C226.777 84.1505 226.843 84.2912 226.836 84.5072C226.833 84.7447 226.795 84.9416 226.761 85.1153C226.733 85.2669 226.708 85.3975 226.719 85.499C226.741 85.687 226.897 85.8268 227.099 85.9901L227.613 86.3976Z" fill="#F2F2F2"/>
                                    <path d="M227.724 83.9175L227.814 83.0872L227.869 83.0351C228.124 82.7939 228.284 82.5384 228.344 82.2755C228.353 82.2337 228.361 82.1914 228.368 82.1483C228.398 81.9776 228.435 81.7654 228.599 81.545C228.691 81.4222 228.934 81.1447 229.185 81.2416C229.252 81.267 229.298 81.3108 229.33 81.3573C229.338 81.3492 229.346 81.3412 229.355 81.3325C229.463 81.2273 229.539 81.1887 229.612 81.1516C229.668 81.1231 229.725 81.0937 229.823 81.0154C229.866 80.981 229.901 80.9501 229.93 80.9241C230.018 80.8456 230.13 80.7537 230.284 80.7901C230.447 80.8347 230.503 80.9905 230.541 81.0936C230.607 81.2776 230.627 81.4041 230.641 81.488C230.646 81.5186 230.651 81.5531 230.656 81.5643C230.691 81.6544 231.14 81.6777 231.309 81.6875C231.688 81.7081 232.017 81.7259 232.096 81.9857C232.152 82.1716 232.034 82.3744 231.735 82.6044C231.641 82.6759 231.548 82.7253 231.467 82.7622C231.517 82.8095 231.557 82.8738 231.559 82.9614C231.564 83.1687 231.352 83.3278 230.927 83.435C230.821 83.462 230.679 83.4977 230.494 83.4886C230.406 83.4843 230.329 83.4709 230.264 83.4584C230.254 83.4956 230.236 83.5343 230.204 83.5711C230.11 83.6793 229.957 83.7068 229.75 83.6458C229.521 83.5821 229.34 83.4953 229.18 83.4191C229.041 83.3527 228.921 83.296 228.82 83.2804C228.633 83.2542 228.458 83.37 228.249 83.5241L227.724 83.9175Z" fill="#F2F2F2"/>
                                    <path d="M225.046 99.8248L224.9 99.6806L224.697 99.6591C224.698 99.64 224.697 99.5954 224.695 99.5257C224.688 99.1437 224.663 97.9814 224.825 96.1954C224.938 94.9487 225.127 93.6832 225.387 92.4334C225.646 91.1817 225.916 90.2503 226.133 89.5017C226.296 88.9371 226.461 88.4016 226.622 87.88C227.052 86.4863 227.458 85.1699 227.71 83.6683C227.766 83.3331 227.883 82.6353 227.644 81.8118C227.505 81.3341 227.267 80.8845 226.937 80.4759L227.257 80.2179C227.621 80.6694 227.884 81.1673 228.038 81.6977C228.303 82.6108 228.176 83.3711 228.114 83.7364C227.859 85.2645 227.449 86.5936 227.015 88.0007C226.854 88.5204 226.69 89.0536 226.527 89.6159C226.312 90.3575 226.045 91.2808 225.788 92.5165C225.532 93.7513 225.346 95.0013 225.234 96.2323C225.074 97.9958 225.098 99.1409 225.106 99.517C225.11 99.7179 225.111 99.76 225.046 99.8248Z" fill="#F2F2F2"/>
                                    <path d="M226.061 80.9484C226.044 80.9447 226.028 80.9406 226.011 80.9357C225.674 80.8412 225.404 80.5666 225.207 80.1197C225.116 79.9095 225.094 79.6883 225.051 79.2471C225.044 79.1791 225.014 78.835 225.051 78.3788C225.075 78.0808 225.107 77.9611 225.188 77.8671C225.278 77.7623 225.399 77.7024 225.528 77.6723C225.531 77.6328 225.544 77.5942 225.57 77.5576C225.675 77.4059 225.852 77.4682 225.947 77.5007C225.996 77.518 226.056 77.5401 226.124 77.5515C226.23 77.5698 226.293 77.5512 226.389 77.5233C226.481 77.4966 226.596 77.4634 226.754 77.4662C227.066 77.4705 227.297 77.6107 227.373 77.6568C227.774 77.8978 227.912 78.2821 228.072 78.7272C228.104 78.8164 228.21 79.1389 228.234 79.5541C228.252 79.8537 228.213 79.9763 228.168 80.0639C228.076 80.2442 227.935 80.3278 227.586 80.5036C227.221 80.6878 227.038 80.78 226.888 80.8274C226.538 80.9371 226.319 81.006 226.061 80.9484Z" fill="#F2F2F2"/>
                                    <path d="M0.333496 99.4682C0.333496 99.6251 0.553425 99.7511 0.827298 99.7511H236.56C236.834 99.7511 237.054 99.6251 237.054 99.4682C237.054 99.3114 236.834 99.1854 236.56 99.1854H0.827298C0.553425 99.1854 0.333496 99.3114 0.333496 99.4682Z" fill="#CCCCCC"/>
                                    <path d="M120.115 97.6823L123.415 97.682L124.985 84.9524L120.114 84.9527L120.115 97.6823Z" fill="#FFEBF0"/>
                                    <path d="M131.422 97.6074C131.525 97.7805 131.579 98.3391 131.579 98.5403C131.579 99.1589 131.078 99.6604 130.459 99.6604L120.238 99.6604C119.816 99.6604 119.474 99.3183 119.474 98.8963V98.4708C119.474 98.4708 118.969 97.1919 120.01 95.6156C120.01 95.6156 121.303 96.8499 123.237 94.9167L123.807 93.884L127.933 96.9019L130.221 97.1835C130.721 97.2451 131.165 97.1739 131.422 97.6074Z" fill="#F2F2F2"/>
                                    <path d="M105.287 97.6823L108.588 97.682L110.157 84.9524L105.287 84.9527L105.287 97.6823Z" fill="#FFEBF0"/>
                                    <path d="M116.594 97.6074C116.697 97.7805 116.751 98.3391 116.751 98.5403C116.751 99.1589 116.25 99.6604 115.631 99.6604L105.411 99.6604C104.989 99.6604 104.647 99.3183 104.647 98.8963V98.4708C104.647 98.4708 104.141 97.1919 105.182 95.6156C105.182 95.6156 106.476 96.8499 108.409 94.9167L108.979 93.884L113.106 96.9019L115.393 97.1835C115.893 97.2451 116.337 97.1739 116.594 97.6074Z" fill="#F2F2F2"/>
                                    <path d="M119.592 10.7615L120.219 16.609L112.909 15.9825L114.162 10.5527L119.592 10.7615Z" fill="#FFEBF0"/>
                                    <path opacity="0.1" d="M119.592 10.7615L120.219 16.609L112.909 15.9825L114.162 10.5527L119.592 10.7615Z" fill="#0A0A0A"/>
                                    <path d="M116.982 11.4924C119.634 11.4924 121.785 9.34192 121.785 6.68912C121.785 4.03631 119.634 1.88579 116.982 1.88579C114.329 1.88579 112.178 4.03631 112.178 6.68912C112.178 9.34192 114.329 11.4924 116.982 11.4924Z" fill="#FFEBF0"/>
                                    <path d="M120.115 14.2074L128.155 18.9063L125.521 31.6455L127.32 48.7704L126.066 90.7473L118.339 89.912L117.295 54.2003L111.239 91.165H103.735L104.974 51.2765L108.733 34.3605L106.435 15.9825L113.432 13.7897L120.115 14.2074Z" fill="#D7D7D7"/>
                                    <path d="M120.428 8.04658C120.428 8.04658 120.845 6.5847 121.785 6.68912C122.725 6.79354 122.934 5.95818 122.725 5.5405C122.516 5.12282 122.098 3.03441 122.098 3.03441C122.098 3.03441 122.307 1.57253 121.054 1.36369C119.801 1.15485 119.383 0.94601 119.174 0.528331C118.966 0.110649 115.833 -0.30703 114.789 0.31949C113.745 0.94601 112.909 2.14808 112.178 2.48683C111.447 2.82558 110.821 3.4521 111.239 4.4963C111.656 5.5405 112.262 7.58273 112.262 7.58273C112.262 7.58273 113.327 7.21122 113.536 7.83774C113.745 8.46426 112.909 7.6289 113.953 5.95818C114.998 4.28746 114.998 2.61673 116.668 3.24326C118.339 3.86978 120.219 3.66094 120.01 4.91398C119.801 6.16702 120.428 8.04658 120.428 8.04658Z" fill="#707070"/>
                                    <path d="M124.008 45.0241C123.003 46.0885 122.738 47.4699 123.415 48.1095C124.093 48.7491 125.456 48.4047 126.462 47.3398C126.869 46.92 127.17 46.4086 127.34 45.8486L131.542 41.2851L129.358 39.3587L125.447 44.0621C124.898 44.2632 124.404 44.5931 124.008 45.0241Z" fill="#FFEBF0"/>
                                    <path d="M128.07 18.8019L135.147 30.8582L136.195 36.3622L129.381 45.0113L126.498 41.342L129.905 36.3622L124.401 26.6647L128.07 18.8019Z" fill="#A3A3A3"/>
                                    <path d="M108.173 43.9015V29.6864C108.173 27.5198 109.936 25.7573 112.103 25.7573H133.832C135.999 25.7573 137.761 27.5198 137.761 29.6864V43.9015C137.761 46.0681 135.999 47.8307 133.832 47.8307H112.103C109.936 47.8307 108.173 46.0681 108.173 43.9015Z" fill="#FF1F53"/>
                                    <path d="M118.741 34.7293H126.255V32.8507H118.741V34.7293Z" fill="#0A0A0A"/>
                                    <path d="M125.639 47.7047V43.9476H119.534V47.7047H125.639Z" fill="#0A0A0A"/>
                                    <path d="M125.925 29.6404V25.8832H119.82V29.6404H125.925Z" fill="#0A0A0A"/>
                                    <path d="M110.373 42.3092C111.378 43.3735 111.644 44.755 110.966 45.3946C110.289 46.0342 108.925 45.6898 107.919 44.6249C107.512 44.205 107.211 43.6937 107.042 43.1337L102.839 38.5702L105.023 36.6438L108.934 41.3472C109.483 41.5483 109.977 41.8782 110.373 42.3092Z" fill="#FFEBF0"/>
                                    <path d="M106.311 16.0869L99.2344 28.1433L98.186 33.6473L105 42.2964L107.884 38.6271L104.476 33.6473L109.98 23.9498L106.311 16.0869Z" fill="#A3A3A3"/>
                                    <path d="M18.3185 73.5752C21.8628 73.5752 24.7361 71.0744 24.7361 67.9895C24.7361 64.9046 21.8628 62.4038 18.3185 62.4038C14.7741 62.4038 11.9009 64.9046 11.9009 67.9895C11.9009 71.0744 14.7741 73.5752 18.3185 73.5752Z" fill="#E6E6E6"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_673_4779">
                                    <rect width="238.811" height="100" fill="white" transform="translate(0.333496)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                                                  
                            </div>
                            <div class="servicesName"><span>24/7 delivery</span></div>
                            <div class="servicesDesc">Most orders for The Fruity Mixologist are delivered by Parcelforce and a tracking
                                 number will be sent to you once your order has been placed. </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service">
                            <div class="image">
                                <svg width="116" height="100" viewBox="0 0 116 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_673_4838)">
                                    <path d="M19.6856 34.8118C19.4173 34.8389 19.1474 34.8452 18.8781 34.8307C18.8322 34.8257 18.7862 34.8389 18.7499 34.8675C18.7137 34.896 18.6901 34.9377 18.6843 34.9835L18.1692 38.8471C18.1296 39.1276 18.0148 39.3921 17.8369 39.6125C17.6903 39.788 17.5813 39.9917 17.5167 40.211C17.4521 40.4303 17.4333 40.6606 17.4614 40.8875V47.4505C17.4614 47.4505 17.4282 48.3255 18.1005 48.3255C18.9052 48.4266 19.7194 48.4266 20.5241 48.3255C20.5241 48.3255 21.0625 48.2236 21.0625 47.4161V40.9539C21.1035 40.7285 21.0951 40.4968 21.0377 40.2749C20.9803 40.053 20.8754 39.8463 20.7302 39.669C20.5583 39.4478 20.4472 39.1855 20.4078 38.908L19.8728 34.9636C19.8667 34.9193 19.844 34.8789 19.8092 34.8507C19.7745 34.8225 19.7303 34.8086 19.6856 34.8118Z" fill="#F2F2F2"/>
                                    <path d="M19.3101 48.5119C18.9034 48.512 18.4971 48.4867 18.0935 48.4363C18.0034 48.4384 17.9137 48.4219 17.8303 48.3877C17.7468 48.3535 17.6713 48.3025 17.6085 48.2377C17.3349 47.9535 17.3501 47.4668 17.3509 47.4462L17.3508 40.8942C17.3222 40.6533 17.3431 40.4091 17.4121 40.1765C17.4811 39.944 17.5967 39.7279 17.752 39.5415C17.9167 39.3369 18.023 39.0917 18.0597 38.8316L18.5746 34.9689C18.5847 34.8946 18.6232 34.8271 18.6822 34.7808C18.7411 34.7344 18.8157 34.7128 18.8903 34.7206C19.1519 34.7344 19.4141 34.728 19.6747 34.7016L19.6778 34.7014C19.7505 34.6961 19.8225 34.7187 19.8791 34.7646C19.9358 34.8105 19.9728 34.8763 19.9827 34.9485L20.5178 38.8932C20.5545 39.1512 20.6579 39.3952 20.8178 39.601C20.9717 39.7891 21.0832 40.0083 21.1446 40.2435C21.206 40.4787 21.2158 40.7244 21.1734 40.9638V47.4161C21.1734 48.3051 20.5512 48.4332 20.5449 48.4344C20.1353 48.486 19.7229 48.5119 19.3101 48.5119ZM18.8632 34.9408C18.8467 34.94 18.8306 34.9454 18.8178 34.9559C18.8051 34.9663 18.7967 34.9812 18.7943 34.9975L18.2791 38.8618C18.2368 39.1623 18.1138 39.4458 17.9233 39.6821C17.7863 39.8461 17.6844 40.0365 17.6239 40.2415C17.5634 40.4465 17.5456 40.6617 17.5715 40.8738L17.5723 40.8874V47.4504C17.5721 47.4586 17.5603 47.869 17.7686 48.0846C17.8117 48.1284 17.8635 48.1627 17.9207 48.1851C17.978 48.2076 18.0393 48.2177 18.1007 48.2148L18.1145 48.2156C18.91 48.3155 19.7149 48.3155 20.5105 48.2156C20.521 48.2131 20.9519 48.1148 20.9519 47.4161L20.9536 40.9341C20.992 40.7244 20.9842 40.5089 20.9308 40.3026C20.8775 40.0962 20.7798 39.904 20.6446 39.7392C20.4601 39.5021 20.3407 39.221 20.2983 38.9236L19.7632 34.9785C19.7609 34.9623 19.7526 34.9475 19.7399 34.9372C19.7273 34.9268 19.7113 34.9215 19.6949 34.9223C19.4216 34.9496 19.1466 34.956 18.8723 34.9413C18.8693 34.941 18.8663 34.9408 18.8632 34.9408Z" fill="#0A0A0A"/>
                                    <path d="M18.8729 41.0049H19.6893C20.0139 41.0049 20.3252 41.1338 20.5548 41.3634C20.7843 41.5929 20.9133 41.9042 20.9133 42.2289V45.3005C20.9133 45.6251 20.7843 45.9364 20.5548 46.1659C20.3252 46.3955 20.0139 46.5244 19.6893 46.5244H18.8729C18.5483 46.5244 18.237 46.3955 18.0074 46.1659C17.7779 45.9364 17.6489 45.6251 17.6489 45.3005V42.2289C17.6489 42.0681 17.6806 41.909 17.7421 41.7605C17.8036 41.612 17.8938 41.477 18.0074 41.3634C18.1211 41.2497 18.256 41.1596 18.4045 41.098C18.553 41.0365 18.7122 41.0049 18.8729 41.0049Z" fill="#FF1F53"/>
                                    <path d="M3.86424 97.42H6.52576L7.79195 87.1541L3.86377 87.1543L3.86424 97.42Z" fill="#FFEBF0"/>
                                    <path d="M3.18555 96.5511L8.42704 96.5509H8.42725C9.31313 96.5509 10.1627 96.9029 10.7891 97.5293C11.4155 98.1557 11.7675 99.0053 11.7675 99.8911V99.9997L3.1857 100L3.18555 96.5511Z" fill="#E0E0E0"/>
                                    <path d="M2.19141 60.7528C2.19141 60.7528 1.03793 62.0567 2.94792 67.1394L2.61149 95.0087L8.80117 94.888L10.1617 81.2935L12.6389 61.4553L2.19141 60.7528Z" fill="#707070"/>
                                    <path d="M14.7616 64.6059L14.6938 64.5956C6.77547 63.3879 0.800165 62.2302 0.740732 62.2186L0.666504 62.2043L2.74223 57.1556C2.72583 56.628 2.27651 41.8136 3.13666 37.5572C3.96934 33.4369 7.89429 32.7616 8.34156 32.6981L8.79067 31.21L14.4645 34.1625L15.4541 37.5682L15.6551 46.9025L14.7616 64.6059Z" fill="#3F3D56"/>
                                    <path d="M18.1789 45.3939C17.9234 45.3938 17.6707 45.4466 17.4366 45.549C17.2025 45.6514 16.9921 45.8011 16.8187 45.9888H7.28186L3.78857 46.7323L4.36212 51.156L16.7887 48.4835C16.9945 48.7159 17.2551 48.893 17.5469 48.9987C17.8387 49.1044 18.1523 49.1353 18.4591 49.0887C18.766 49.042 19.0562 48.9192 19.3034 48.7315C19.5505 48.5438 19.7467 48.2972 19.8741 48.0142C20.0014 47.7312 20.0558 47.4208 20.0324 47.1113C20.0089 46.8019 19.9083 46.5032 19.7397 46.2426C19.5711 45.9821 19.34 45.7679 19.0673 45.6196C18.7947 45.4713 18.4893 45.3937 18.1789 45.3939Z" fill="#FFEBF0"/>
                                    <path d="M18.2618 29.5378C19.4794 27.3104 18.6608 24.5178 16.4334 23.3002C14.2061 22.0826 11.4134 22.9012 10.1958 25.1286C8.97825 27.3559 9.79684 30.1486 12.0242 31.3662C14.2515 32.5837 17.0442 31.7652 18.2618 29.5378Z" fill="#FFEBF0"/>
                                    <path d="M9.90591 23.6587L9.68309 23.2102L10.8043 22.6532C10.8043 22.6532 12.0411 20.6407 14.2793 21.2062C16.5174 21.7718 17.5243 22.1103 17.5243 22.1103L18.6427 22.673L18.0814 23.2315L19.0884 23.5699L18.4156 23.9042L19.1984 24.3541L18.777 26.6604C18.777 26.6604 18.0772 24.9111 16.7317 25.5796C15.3863 26.248 12.9254 25.234 12.9254 25.234L10.7873 29.3718C10.7873 29.3718 10.3462 27.9213 9.55982 28.3081C9.55982 28.3081 7.55072 25.1085 9.90591 23.6587Z" fill="#C0C0C0"/>
                                    <path d="M4.42328 51.9853L3.33266 48.7412L3.06885 37.9271L3.53354 36.3927C3.7008 35.8405 3.97782 35.3277 4.34801 34.8851C4.7182 34.4425 5.17394 34.0792 5.68791 33.8169C6.20187 33.5547 6.7635 33.3989 7.33912 33.3589C7.91474 33.3189 8.4925 33.3956 9.0378 33.5842C9.58309 33.7729 10.0847 34.0697 10.5125 34.4568C10.9404 34.844 11.2856 35.3135 11.5277 35.8373C11.7697 36.3611 11.9034 36.9284 11.921 37.5051C11.9385 38.0819 11.8394 38.6562 11.6296 39.1938L9.13895 45.5762L9.26555 45.822L14.6617 45.7783L16.5784 49.2285L4.42328 51.9853Z" fill="#0A0A0A"/>
                                    <path d="M58.4119 50.6523C58.6133 50.5166 58.7825 50.3385 58.9075 50.1304C59.0326 49.9223 59.1106 49.6893 59.1359 49.4478C59.1611 49.2064 59.1332 48.9623 59.054 48.7328C58.9747 48.5033 58.8461 48.2939 58.6772 48.1195L61.337 42.8509L58.2905 43.2042L56.2317 48.1532C55.9575 48.4564 55.804 48.8496 55.8004 49.2584C55.7967 49.6672 55.9431 50.0631 56.2118 50.3711C56.4805 50.6791 56.8529 50.8779 57.2584 50.9297C57.6639 50.9816 58.0743 50.8828 58.4119 50.6523Z" fill="#FFEBF0"/>
                                    <path d="M79.7436 87.9725L77.3464 87.9724L76.2061 78.7263L79.7439 78.7266L79.7436 87.9725Z" fill="#FFEBF0"/>
                                    <path d="M80.3547 90.2961L72.6255 90.2958V90.198C72.6255 89.4002 72.9425 88.635 73.5067 88.0708C74.0709 87.5067 74.8361 87.1897 75.6339 87.1897H75.6341L80.3549 87.1899L80.3547 90.2961Z" fill="#707070"/>
                                    <path d="M66.6435 87.9725L64.2463 87.9724L63.106 78.7263L66.644 78.7266L66.6435 87.9725Z" fill="#FFEBF0"/>
                                    <path d="M66.6682 90.2961L58.939 90.2958V90.198C58.939 89.4002 59.256 88.635 59.8202 88.0708C60.3844 87.5067 61.1495 87.1897 61.9474 87.1897H61.9476L66.6684 87.1899L66.6682 90.2961Z" fill="#707070"/>
                                    <path d="M66.4468 48.9219L64.1005 54.3272L62.165 85.3962L67.0531 85.2007L68.3882 70.3899L72.5065 57.1986L74.8741 71.9048L75.8519 84.8095L79.8965 84.9847L81.5083 48.9219H66.4468Z" fill="#707070"/>
                                    <path d="M78.1753 22.2492L71.375 22.4193L67.3825 24.4689L67.1634 39.5903L64.6733 50.0303C64.6733 50.0303 80.2314 51.1011 82.3822 49.5369L79.8404 37.6099L83.2495 24.7202L78.1753 22.2492Z" fill="#FF1F53"/>
                                    <path d="M68.4328 24.7195L67.7998 24.292C67.7998 24.292 65.1771 25.078 64.4019 28.5752C64.4019 28.5752 63.8087 30.3297 63.5484 31.536C63.2499 32.9196 56.6577 45.6287 56.6577 45.6287L60.6045 46.761L67.8405 35.0591L68.4328 24.7195Z" fill="#FF1F53"/>
                                    <path d="M83.1429 52.5913C82.9867 52.4054 82.8732 52.1875 82.8103 51.953C82.7475 51.7185 82.7368 51.473 82.7791 51.2339C82.8214 50.9948 82.9156 50.7679 83.055 50.5692C83.1945 50.3704 83.3758 50.2047 83.5863 50.0836L82.4824 44.2857L85.3134 45.4655L85.9276 50.7904C86.1076 51.1574 86.1467 51.5777 86.0375 51.9716C85.9283 52.3655 85.6784 52.7057 85.3352 52.9277C84.9919 53.1497 84.5791 53.2381 84.1751 53.1761C83.771 53.1141 83.4038 52.906 83.1429 52.5913Z" fill="#FFEBF0"/>
                                    <path d="M82.2264 24.9008L82.9528 24.6644C82.9528 24.6644 85.2571 26.1432 85.0378 29.7185C85.0378 29.7185 85.1242 31.5686 85.0417 32.7999C84.9471 34.2122 86.2149 48.2464 86.2149 48.2464H82.1089L80.3491 35.5373L82.2264 24.9008Z" fill="#FF1F53"/>
                                    <path d="M79.8447 15.9051C79.8447 16.8374 79.5682 17.7489 79.0502 18.5241C78.5323 19.2993 77.796 19.9035 76.9346 20.2603C76.0732 20.6171 75.1254 20.7105 74.2109 20.5286C73.2965 20.3467 72.4565 19.8977 71.7972 19.2385C71.138 18.5792 70.689 17.7392 70.5071 16.8248C70.3252 15.9103 70.4185 14.9625 70.7753 14.1011C71.1321 13.2397 71.7364 12.5034 72.5116 11.9854C73.2868 11.4674 74.1982 11.191 75.1306 11.191C76.3778 11.1879 77.5751 11.6803 78.4591 12.56C79.3432 13.4396 79.8416 14.6344 79.8447 15.8816C79.8447 15.8894 79.8447 15.8972 79.8447 15.9051Z" fill="#FFEBF0"/>
                                    <path d="M70.4323 9.57317C70.9845 8.38569 72.0532 8.62047 72.9878 9.02299C74.1714 8.76046 75.297 7.97447 76.5723 8.4393C77.8284 10.2663 82.0459 9.72877 81.1486 12.7031C81.1475 13.4159 82.4898 13.001 82.2554 14.1683C82.9665 16.4147 79.6888 20.6691 77.8071 19.7732C78.2725 18.9203 79.3356 16.9831 77.7232 16.791C74.2548 20.0183 77.3653 10.6456 73.0073 13.3713C71.5644 14.6918 69.5889 10.8941 70.4323 9.57317Z" fill="#C0C0C0"/>
                                    <path d="M83.9685 53.0614C84.193 53.1065 84.4247 53.1019 84.6472 53.0478C84.8698 52.9937 85.0778 52.8915 85.2565 52.7483C85.4353 52.6052 85.5805 52.4246 85.6819 52.2192C85.7833 52.0139 85.8385 51.7888 85.8435 51.5598L97.6802 40.4188L95.0169 38.2942L84.1991 49.9417C83.8139 49.9588 83.4484 50.1166 83.1717 50.3852C82.8951 50.6538 82.7266 51.0146 82.6981 51.3991C82.6697 51.7836 82.7833 52.1653 83.0174 52.4716C83.2516 52.778 83.59 52.9878 83.9685 53.0614Z" fill="#FFEBF0"/>
                                    <path d="M96.0026 42.2196L93.6998 39.5209C93.6343 39.4441 93.5861 39.3541 93.5585 39.257C93.5309 39.1599 93.5246 39.058 93.5399 38.9582C93.5552 38.8585 93.5919 38.7632 93.6474 38.6788C93.7029 38.5945 93.7759 38.5231 93.8614 38.4696L96.8594 36.5928C97.2541 36.2597 97.7649 36.0968 98.2796 36.1397C98.7943 36.1827 99.271 36.428 99.6051 36.8219C99.9392 37.2158 100.103 37.7261 100.062 38.2409C100.02 38.7557 99.7762 39.233 99.3832 39.5682L97.0663 42.2255C96.9999 42.3015 96.918 42.3624 96.8259 42.4039C96.7339 42.4454 96.6341 42.4667 96.5331 42.4661C96.4322 42.4655 96.3326 42.4432 96.241 42.4007C96.1495 42.3582 96.0682 42.2964 96.0026 42.2196Z" fill="#CBCBCB"/>
                                    <path d="M89.81 97.1946L86.9159 97.1945L85.5391 86.0318L89.8105 86.0319L89.81 97.1946Z" fill="#FFEBF0"/>
                                    <path d="M90.5485 100L81.2168 99.9997V99.8816C81.2169 98.9183 81.5996 97.9945 82.2807 97.3134C82.9619 96.6323 83.8857 96.2496 84.8489 96.2495H84.8492L90.5486 96.2498L90.5485 100Z" fill="#A3A3A3"/>
                                    <path d="M112.944 97.1946L110.05 97.1945L108.673 86.0318L112.945 86.0319L112.944 97.1946Z" fill="#FFEBF0"/>
                                    <path d="M113.682 100L104.351 99.9997V99.8816C104.351 98.9183 104.733 97.9945 105.414 97.3134C106.096 96.6323 107.019 96.2496 107.983 96.2495H107.983L113.682 96.2498L113.682 100Z" fill="#A3A3A3"/>
                                    <path d="M105.16 48.1369L108.077 37.3589L104.292 35.2316H99.01L96.9554 37.4298C96.9554 37.4298 93.5227 39.8181 94.3536 42.4642L95.6939 48.4914L93.644 58.064L83.3155 72.3874L80.8706 86.4568L90.4949 88.9799L100.902 68.4875L105.948 91.178L115.335 90.7059L112.101 63.1936C112.101 63.1936 111.179 54.8124 106.345 49.5793L105.16 48.1369Z" fill="#707070"/>
                                    <path d="M111.184 57.6731C111.347 57.512 111.472 57.317 111.551 57.1022C111.631 56.8873 111.662 56.6576 111.643 56.4294C111.623 56.2012 111.555 55.9799 111.441 55.7812C111.327 55.5825 111.171 55.4112 110.983 55.2794L108.72 40.0092L105.471 41.035L108.723 55.7418C108.523 56.0711 108.45 56.4625 108.518 56.842C108.587 57.2214 108.793 57.5625 109.096 57.8005C109.399 58.0386 109.779 58.1571 110.164 58.1336C110.549 58.1101 110.912 57.9463 111.184 57.6731Z" fill="#FFEBF0"/>
                                    <path d="M109.279 42.4058L105.755 42.8121C105.655 42.8237 105.553 42.8135 105.457 42.7823C105.361 42.751 105.273 42.6995 105.199 42.6311C105.125 42.5627 105.066 42.4792 105.027 42.3861C104.988 42.293 104.969 42.1926 104.973 42.0917L105.087 38.5566C105.03 38.0432 105.18 37.5285 105.503 37.1253C105.826 36.7221 106.295 36.4633 106.808 36.4056C107.321 36.348 107.836 36.4962 108.241 36.8178C108.645 37.1393 108.905 37.608 108.964 38.121L109.877 41.5261C109.904 41.6237 109.908 41.7256 109.892 41.8252C109.875 41.9247 109.837 42.0194 109.78 42.1029C109.723 42.1864 109.649 42.2566 109.563 42.3089C109.476 42.3612 109.38 42.3942 109.279 42.4058Z" fill="#CBCBCB"/>
                                    <path d="M95.7437 32.1666V27.6253C95.7437 26.0114 96.3848 24.4636 97.526 23.3224C98.6672 22.1812 100.215 21.5401 101.829 21.5401C103.443 21.5401 104.991 22.1812 106.132 23.3224C107.273 24.4636 107.914 26.0114 107.914 27.6253V32.1666C107.914 32.3833 107.828 32.591 107.674 32.7443C107.521 32.8975 107.313 32.9837 107.097 32.984H96.5611C96.3444 32.9837 96.1366 32.8975 95.9833 32.7443C95.8301 32.591 95.7439 32.3833 95.7437 32.1666Z" fill="#707070"/>
                                    <path d="M102.718 32.3315C104.88 31.1496 105.675 28.4388 104.493 26.2768C103.311 24.1147 100.6 23.3201 98.4382 24.502C96.2761 25.6839 95.4815 28.3947 96.6634 30.5568C97.8453 32.7188 100.556 33.5134 102.718 32.3315Z" fill="#FFEBF0"/>
                                    <path d="M94.3042 27.9886C94.3056 26.7124 94.8133 25.4889 95.7157 24.5864C96.6181 23.684 97.8417 23.1764 99.1179 23.1749H100.026C101.302 23.1764 102.526 23.684 103.428 24.5864C104.331 25.4889 104.838 26.7124 104.84 27.9886V28.0795H102.92L102.266 26.2463L102.135 28.0795H101.143L100.813 27.1545L100.746 28.0795H94.3042V27.9886Z" fill="#707070"/>
                                    <path d="M100.139 33.4946C100.049 33.3726 99.9955 33.2276 99.9842 33.0764C99.9729 32.9251 100.004 32.7737 100.075 32.6396C101.038 30.8089 102.386 27.4263 100.597 25.3401L100.468 25.1902H105.661V32.9866L100.944 33.8189C100.896 33.8274 100.848 33.8316 100.799 33.8317C100.67 33.8317 100.543 33.8011 100.429 33.7425C100.314 33.6839 100.215 33.599 100.139 33.4946Z" fill="#707070"/>
                                    <path d="M52.4098 37.6461C52.3439 37.7138 52.2835 37.7866 52.2291 37.8638L43.7681 37.6568L42.781 35.8531L39.8643 36.987L41.3014 40.3499C41.4175 40.6216 41.6185 40.8482 41.8744 40.9959C42.1303 41.1436 42.4272 41.2042 42.7205 41.1688L52.2799 40.014C52.5054 40.2995 52.8125 40.5095 53.1603 40.6162C53.5081 40.7229 53.8801 40.7212 54.2269 40.6113C54.5737 40.5014 54.8788 40.2886 55.1017 40.001C55.3245 39.7135 55.4545 39.3649 55.4745 39.0017C55.4944 38.6384 55.4032 38.2777 55.2132 37.9676C55.0231 37.6574 54.7431 37.4124 54.4104 37.2653C54.0777 37.1181 53.7081 37.0757 53.3507 37.1438C52.9933 37.2118 52.6651 37.387 52.4098 37.6461Z" fill="#FFEBF0"/>
                                    <path d="M24.8281 89.0307H27.6101L28.9336 78.3L24.8276 78.3001L24.8281 89.0307Z" fill="#FFEBF0"/>
                                    <path d="M24.1187 88.1225L29.5975 88.1223H29.5977C30.5237 88.1223 31.4118 88.4902 32.0666 89.1449C32.7213 89.7997 33.0892 90.6878 33.0893 91.6138V91.7272L24.1188 91.7275L24.1187 88.1225Z" fill="#A3A3A3"/>
                                    <path d="M50.0902 88.9689L52.6486 87.876L49.6503 77.4878L45.8745 79.101L50.0902 88.9689Z" fill="#FFEBF0"/>
                                    <path d="M49.0806 88.4124L54.1189 86.2599L54.1191 86.2598C54.9707 85.8961 55.9318 85.8856 56.7912 86.2305C57.6506 86.5754 58.3377 87.2475 58.7015 88.0991L58.7461 88.2034L50.4969 91.7276L49.0806 88.4124Z" fill="#A3A3A3"/>
                                    <path d="M38.351 39.9707L38.5521 43.2307L32.6717 43.86L26.5186 44.5185L28.3296 39.5683L38.351 39.9707Z" fill="#FFEBF0"/>
                                    <path d="M38.5575 41.1404C38.4909 41.1143 31.8489 38.5306 27.7691 40.6432L27.6688 40.6952L26.8549 36.6891L26.3911 28.0762L29.4089 26.6503L30.2397 24.7891L35.8992 24.4542L37.0622 26.0491L41.0218 27.3468L38.6553 41.1791L38.5575 41.1404Z" fill="#C5C5C5"/>
                                    <path d="M38.7656 33.3662L39.4656 27.8659L41.0596 27.3807L41.0864 27.3907C41.1232 27.4042 41.9895 27.7357 42.2266 28.935C42.4542 30.0861 44.1684 37.2495 44.1857 37.3217L44.2029 37.3934L40.1753 39.0048L38.7656 33.3662Z" fill="#E4E4E4"/>
                                    <path d="M48.0181 87.083L53.3794 85.9832L44.8104 62.3383L41.8777 54.2734C41.8777 54.2734 40.0177 47.807 39.1773 45.3046L38.6701 41.9469L26.6644 43.2758C26.6644 43.2758 23.3112 48.2002 24.3299 56.2268L23.8691 86.3956L29.2305 86.6706L33.7212 56.2438L41.6028 72.9235C41.6028 72.9235 44.087 80.0414 45.8644 81.5842L48.0181 87.083Z" fill="#707070"/>
                                    <path d="M31.4788 44.3956C31.3844 44.3933 31.29 44.3985 31.1964 44.4111L25.5955 38.0659L26.247 36.1158L23.4324 34.7479L21.9435 38.0881C21.8232 38.358 21.7937 38.6596 21.8594 38.9476C21.9251 39.2357 22.0825 39.4946 22.3079 39.6856L29.6542 45.9103C29.5982 46.2698 29.6529 46.6378 29.8111 46.9653C29.9693 47.2929 30.2236 47.5645 30.5399 47.7441C30.8563 47.9237 31.2198 48.0027 31.5822 47.9706C31.9446 47.9386 32.2886 47.7969 32.5685 47.5646C32.8484 47.3322 33.0509 47.0201 33.1492 46.6698C33.2474 46.3196 33.2366 45.9477 33.1183 45.6037C33 45.2596 32.7798 44.9598 32.4869 44.744C32.1941 44.5282 31.8424 44.4067 31.4788 44.3956Z" fill="#FFEBF0"/>
                                    <path d="M22.9253 35.6879L25.1149 29.451C25.361 28.7158 25.6694 28.2691 26.0315 28.1234C26.1028 28.0913 26.18 28.0743 26.2582 28.0736C26.3364 28.0729 26.4139 28.0884 26.4859 28.1191L27.4677 29.3596L28.3789 33.1877L26.0425 38.6834L22.9253 35.6879Z" fill="#E4E4E4"/>
                                    <path d="M37.4188 23.1635H27.8063C27.6086 23.1633 27.419 23.0847 27.2792 22.9449C27.1394 22.805 27.0608 22.6155 27.0605 22.4177V18.2744C27.0605 16.802 27.6455 15.3898 28.6867 14.3486C29.7279 13.3074 31.1401 12.7224 32.6126 12.7224C34.0851 12.7224 35.4972 13.3074 36.5384 14.3486C37.5796 15.3898 38.1646 16.802 38.1646 18.2744V22.4177C38.1644 22.6155 38.0857 22.805 37.9459 22.9449C37.8061 23.0847 37.6165 23.1633 37.4188 23.1635Z" fill="#707070"/>
                                    <path d="M33.7532 23.0671C36.0013 23.0671 37.8237 21.2446 37.8237 18.9965C37.8237 16.7484 36.0013 14.926 33.7532 14.926C31.5051 14.926 29.6826 16.7484 29.6826 18.9965C29.6826 21.2446 31.5051 23.0671 33.7532 23.0671Z" fill="#FFEBF0"/>
                                    <path d="M39.4777 18.6888H33.5999L33.5396 17.8449L33.2383 18.6888H32.3332L32.2138 17.0162L31.6165 18.6888H29.8652V18.6059C29.8665 17.4415 30.3297 16.3252 31.153 15.5018C31.9764 14.6785 33.0927 14.2153 34.2571 14.214H35.0858C36.2502 14.2153 37.3665 14.6785 38.1899 15.5018C39.0132 16.3252 39.4764 17.4415 39.4777 18.6059L39.4777 18.6888Z" fill="#707070"/>
                                    <path d="M33.5522 23.937C33.5079 23.9369 33.4638 23.933 33.4202 23.9253L29.1162 23.1659V16.0527H33.8541L33.7368 16.1895C32.1048 18.0928 33.3343 21.1791 34.2124 22.8493C34.2772 22.9717 34.306 23.1098 34.2957 23.2478C34.2854 23.3858 34.2363 23.5181 34.154 23.6295C34.0852 23.7247 33.9947 23.8022 33.8901 23.8556C33.7855 23.9091 33.6697 23.937 33.5522 23.937Z" fill="#707070"/>
                                    <path d="M85.1085 41.0349C84.8402 41.0619 84.5702 41.0682 84.301 41.0537C84.2551 41.0487 84.209 41.0619 84.1728 41.0905C84.1365 41.1191 84.113 41.1608 84.1071 41.2066L83.5921 45.0702C83.5524 45.3506 83.4376 45.6151 83.2598 45.8356C83.1131 46.011 83.0041 46.2147 82.9395 46.434C82.875 46.6534 82.8561 46.8836 82.8842 47.1105V53.6735C82.8842 53.6735 82.851 54.5486 83.5234 54.5486C84.3281 54.6497 85.1423 54.6497 85.947 54.5486C85.947 54.5486 86.4853 54.4467 86.4853 53.6392V47.177C86.5264 46.9515 86.5179 46.7198 86.4605 46.498C86.4032 46.2761 86.2982 46.0694 86.153 45.8921C85.9811 45.6708 85.87 45.4085 85.8307 45.1311L85.2957 41.1867C85.2896 41.1423 85.2669 41.1019 85.2321 41.0738C85.1973 41.0456 85.1531 41.0317 85.1085 41.0349Z" fill="#F2F2F2"/>
                                    <path d="M84.733 54.735C84.3263 54.735 83.92 54.7097 83.5164 54.6593C83.4262 54.6615 83.3366 54.6449 83.2531 54.6107C83.1696 54.5766 83.0941 54.5255 83.0313 54.4608C82.7577 54.1766 82.7729 53.6899 82.7737 53.6693L82.7736 47.1173C82.7451 46.8764 82.7659 46.6322 82.8349 46.3996C82.9039 46.167 83.0196 45.9509 83.1749 45.7646C83.3395 45.56 83.4458 45.3147 83.4825 45.0547L83.9975 41.1919C84.0075 41.1176 84.0461 41.0502 84.105 41.0038C84.1639 40.9575 84.2386 40.9359 84.3132 40.9436C84.5747 40.9574 84.837 40.9511 85.0975 40.9247L85.1006 40.9244C85.1734 40.9192 85.2454 40.9418 85.302 40.9877C85.3586 41.0336 85.3957 41.0994 85.4056 41.1716L85.9406 45.1162C85.9774 45.3743 86.0808 45.6182 86.2406 45.8241C86.3946 46.0122 86.5061 46.2314 86.5674 46.4666C86.6288 46.7018 86.6386 46.9475 86.5962 47.1868V53.6392C86.5962 54.5281 85.974 54.6562 85.9677 54.6574C85.5582 54.709 85.1458 54.735 84.733 54.735ZM84.2861 41.1639C84.2696 41.1631 84.2534 41.1684 84.2407 41.1789C84.2279 41.1894 84.2196 41.2042 84.2172 41.2205L83.702 45.0848C83.6596 45.3854 83.5366 45.6689 83.3461 45.9051C83.2092 46.0692 83.1073 46.2596 83.0468 46.4646C82.9863 46.6695 82.9684 46.8847 82.9943 47.0969L82.9952 47.1105V53.6735C82.995 53.6817 82.9832 54.0921 83.1914 54.3077C83.2345 54.3515 83.2864 54.3858 83.3436 54.4082C83.4008 54.4306 83.4621 54.4407 83.5235 54.4378L83.5374 54.4387C84.3329 54.5385 85.1378 54.5385 85.9333 54.4387C85.9438 54.4361 86.3747 54.3378 86.3747 53.6392L86.3765 47.1571C86.4148 46.9475 86.4071 46.732 86.3537 46.5256C86.3003 46.3193 86.2027 46.127 86.0675 45.9623C85.8829 45.7252 85.7636 45.444 85.7212 45.1466L85.1861 41.2015C85.1837 41.1853 85.1754 41.1706 85.1628 41.1602C85.1502 41.1498 85.1341 41.1445 85.1178 41.1453C84.8445 41.1727 84.5695 41.179 84.2952 41.1644C84.2922 41.164 84.2891 41.1639 84.2861 41.1639Z" fill="#0A0A0A"/>
                                    <path d="M84.2958 47.2279H85.1121C85.4367 47.2279 85.7481 47.3569 85.9776 47.5864C86.2072 47.816 86.3361 48.1273 86.3361 48.4519V51.5235C86.3361 51.8481 86.2071 52.1595 85.9776 52.389C85.7481 52.6185 85.4367 52.7475 85.1121 52.7475H84.2958C83.9711 52.7475 83.6598 52.6185 83.4303 52.389C83.2007 52.1595 83.0718 51.8481 83.0718 51.5235V48.4519C83.0718 48.1273 83.2007 47.816 83.4303 47.5864C83.6598 47.3569 83.9711 47.2279 84.2958 47.2279Z" fill="#FF1F53"/>
                                    <path d="M57.4058 35.7134C57.1375 35.7405 56.8676 35.7468 56.5983 35.7323C56.5524 35.7272 56.5064 35.7405 56.4702 35.769C56.4339 35.7976 56.4103 35.8393 56.4045 35.8851L55.8894 39.7487C55.8498 40.0292 55.735 40.2937 55.5571 40.5141C55.4105 40.6895 55.3015 40.8932 55.2369 41.1126C55.1723 41.3319 55.1535 41.5622 55.1816 41.7891V48.352C55.1816 48.352 55.1484 49.2271 55.8207 49.2271C56.6254 49.3282 57.4396 49.3282 58.2443 49.2271C58.2443 49.2271 58.7827 49.1252 58.7827 48.3177V41.8555C58.8237 41.6301 58.8153 41.3984 58.7579 41.1765C58.7005 40.9546 58.5956 40.7479 58.4504 40.5706C58.2785 40.3494 58.1674 40.087 58.128 39.8096L57.593 35.8652C57.587 35.8208 57.5642 35.7805 57.5295 35.7523C57.4947 35.7241 57.4505 35.7102 57.4058 35.7134Z" fill="#F2F2F2"/>
                                    <path d="M57.0299 49.4135C56.6232 49.4135 56.2168 49.3883 55.8133 49.3379C55.7231 49.34 55.6335 49.3234 55.55 49.2893C55.4665 49.2551 55.391 49.2041 55.3282 49.1393C55.0546 48.8551 55.0698 48.3684 55.0706 48.3478L55.0705 41.7958C55.042 41.5549 55.0628 41.3107 55.1318 41.0781C55.2008 40.8455 55.3165 40.6295 55.4718 40.4431C55.6364 40.2385 55.7427 39.9933 55.7794 39.7332L56.2944 35.8705C56.3044 35.7962 56.343 35.7287 56.4019 35.6823C56.4608 35.636 56.5355 35.6144 56.61 35.6222C56.8716 35.636 57.1338 35.6296 57.3944 35.6032L57.3975 35.603C57.4702 35.5977 57.5422 35.6203 57.5989 35.6662C57.6555 35.7121 57.6926 35.7779 57.7024 35.8501L58.2375 39.7948C58.2743 40.0528 58.3777 40.2968 58.5375 40.5026C58.6914 40.6907 58.8029 40.9099 58.8643 41.1451C58.9257 41.3803 58.9355 41.626 58.8931 41.8653V48.3177C58.8931 49.2066 58.2709 49.3348 58.2646 49.336C57.855 49.3876 57.4427 49.4135 57.0299 49.4135ZM56.5829 35.8424C56.5665 35.8416 56.5503 35.847 56.5376 35.8574C56.5248 35.8679 56.5164 35.8828 56.514 35.8991L55.9989 39.7633C55.9565 40.0639 55.8335 40.3474 55.643 40.5837C55.506 40.7477 55.4042 40.9381 55.3437 41.1431C55.2832 41.3481 55.2653 41.5633 55.2912 41.7754L55.292 41.789V48.352C55.2918 48.3602 55.2801 48.7706 55.4883 48.9862C55.5314 49.03 55.5832 49.0643 55.6405 49.0867C55.6977 49.1092 55.759 49.1193 55.8204 49.1164L55.8342 49.1172C56.6298 49.2171 57.4347 49.2171 58.2302 49.1172C58.2407 49.1146 58.6716 49.0164 58.6716 48.3177L58.6734 41.8357C58.7117 41.626 58.7039 41.4105 58.6506 41.2042C58.5972 40.9978 58.4995 40.8056 58.3643 40.6408C58.1798 40.4037 58.0604 40.1226 58.0181 39.8252L57.4829 35.88C57.4806 35.8639 57.4723 35.8491 57.4597 35.8387C57.447 35.8284 57.431 35.823 57.4147 35.8239C57.1413 35.8512 56.8663 35.8576 56.5921 35.8429C56.589 35.8426 56.586 35.8424 56.5829 35.8424Z" fill="#0A0A0A"/>
                                    <path d="M56.5926 41.9065H57.409C57.7336 41.9065 58.0449 42.0354 58.2745 42.265C58.504 42.4945 58.633 42.8058 58.633 43.1304V46.202C58.633 46.5267 58.504 46.838 58.2745 47.0675C58.0449 47.2971 57.7336 47.426 57.409 47.426H56.5926C56.268 47.426 55.9567 47.2971 55.7271 47.0675C55.4976 46.838 55.3687 46.5267 55.3687 46.202V43.1305C55.3687 42.8058 55.4976 42.4945 55.7271 42.265C55.9567 42.0354 56.268 41.9065 56.5926 41.9065Z" fill="#FF1F53"/>
                                    <path d="M52.71 30.0789C52.4417 30.106 52.1718 30.1123 51.9025 30.0978C51.8566 30.0927 51.8106 30.106 51.7744 30.1345C51.7381 30.1631 51.7145 30.2048 51.7087 30.2506L51.1936 34.1142C51.154 34.3947 51.0392 34.6592 50.8613 34.8796C50.7147 35.0551 50.6057 35.2588 50.5411 35.4781C50.4765 35.6974 50.4577 35.9277 50.4858 36.1546V42.7176C50.4858 42.7176 50.4526 43.5926 51.1249 43.5926C51.9296 43.6937 52.7438 43.6937 53.5485 43.5926C53.5485 43.5926 54.0869 43.4907 54.0869 42.6832V36.221C54.1279 35.9956 54.1195 35.7639 54.0621 35.542C54.0047 35.3201 53.8998 35.1134 53.7546 34.9361C53.5827 34.7149 53.4716 34.4525 53.4322 34.1751L52.8972 30.2307C52.8912 30.1863 52.8684 30.146 52.8337 30.1178C52.7989 30.0896 52.7547 30.0757 52.71 30.0789Z" fill="#F2F2F2"/>
                                    <path d="M52.3345 43.779C51.9278 43.779 51.5215 43.7538 51.118 43.7034C51.0278 43.7055 50.9381 43.6889 50.8547 43.6548C50.7712 43.6206 50.6957 43.5696 50.6329 43.5048C50.3593 43.2206 50.3745 42.7339 50.3753 42.7133L50.3752 36.1613C50.3466 35.9204 50.3675 35.6762 50.4365 35.4436C50.5055 35.211 50.6212 34.995 50.7765 34.8086C50.9411 34.604 51.0474 34.3588 51.0841 34.0987L51.5991 30.236C51.6091 30.1617 51.6477 30.0942 51.7066 30.0479C51.7655 30.0015 51.8402 29.9799 51.9147 29.9877C52.1763 30.0015 52.4385 29.9951 52.6991 29.9687L52.7022 29.9685C52.7749 29.9632 52.8469 29.9858 52.9036 30.0317C52.9602 30.0776 52.9972 30.1434 53.0071 30.2156L53.5422 34.1603C53.579 34.4183 53.6823 34.6623 53.8422 34.8681C53.9961 35.0562 54.1076 35.2754 54.169 35.5106C54.2304 35.7458 54.2402 35.9915 54.1978 36.2309V42.6832C54.1978 43.5721 53.5756 43.7003 53.5693 43.7015C53.1597 43.7531 52.7473 43.779 52.3345 43.779ZM51.8876 30.2079C51.8712 30.2071 51.855 30.2125 51.8422 30.2229C51.8295 30.2334 51.8211 30.2483 51.8187 30.2646L51.3036 34.1289C51.2612 34.4294 51.1382 34.7129 50.9477 34.9492C50.8107 35.1132 50.7088 35.3036 50.6483 35.5086C50.5878 35.7136 50.57 35.9288 50.5959 36.1409L50.5967 36.1545V42.7175C50.5965 42.7257 50.5848 43.1361 50.793 43.3517C50.8361 43.3955 50.8879 43.4298 50.9451 43.4522C51.0024 43.4747 51.0637 43.4848 51.1251 43.4819L51.1389 43.4827C51.9344 43.5826 52.7393 43.5826 53.5349 43.4827C53.5454 43.4801 53.9763 43.3819 53.9763 42.6832L53.9781 36.2012C54.0164 35.9915 54.0086 35.776 53.9553 35.5697C53.9019 35.3633 53.8042 35.1711 53.669 35.0063C53.4845 34.7692 53.3651 34.4881 53.3227 34.1907L52.7876 30.2455C52.7853 30.2294 52.777 30.2146 52.7643 30.2042C52.7517 30.1939 52.7357 30.1885 52.7193 30.1894C52.446 30.2167 52.171 30.2231 51.8967 30.2084C51.8937 30.2081 51.8907 30.2079 51.8876 30.2079Z" fill="#0A0A0A"/>
                                    <path d="M51.8973 36.272H52.7137C53.0383 36.272 53.3496 36.4009 53.5792 36.6305C53.8087 36.86 53.9377 37.1713 53.9377 37.4959V40.5675C53.9377 40.8922 53.8087 41.2035 53.5792 41.433C53.3496 41.6626 53.0383 41.7915 52.7137 41.7915H51.8973C51.5727 41.7915 51.2614 41.6626 51.0318 41.433C50.8023 41.2035 50.6733 40.8922 50.6733 40.5675V37.4959C50.6733 37.1713 50.8023 36.86 51.0318 36.6305C51.2614 36.4009 51.5727 36.272 51.8973 36.272Z" fill="#FF1F53"/>
                                    <path d="M9.4607 11.1125C11.6217 11.1125 13.3735 9.36064 13.3735 7.19964C13.3735 5.03863 11.6217 3.28679 9.4607 3.28679C7.29969 3.28679 5.54785 5.03863 5.54785 7.19964C5.54785 9.36064 7.29969 11.1125 9.4607 11.1125Z" fill="#F0F0F0"/>
                                    <path d="M99.6126 7.82569C101.774 7.82569 103.525 6.07385 103.525 3.91285C103.525 1.75184 101.774 0 99.6126 0C97.4515 0 95.6997 1.75184 95.6997 3.91285C95.6997 6.07385 97.4515 7.82569 99.6126 7.82569Z" fill="#F0F0F0"/>
                                    <path d="M54.8495 17.6861C56.4054 17.6861 57.6667 16.4247 57.6667 14.8688C57.6667 13.3129 56.4054 12.0516 54.8495 12.0516C53.2936 12.0516 52.0322 13.3129 52.0322 14.8688C52.0322 16.4247 53.2936 17.6861 54.8495 17.6861Z" fill="#F0F0F0"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_673_4838">
                                    <rect width="114.669" height="100" fill="white" transform="translate(0.666504)"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                                                  
                            </div>
                            <div class="servicesName"><span>Complete the fun with us</span></div>
                            <div class="servicesDesc">Cocktail Courier connects people through the joy of cocktails.
                                 No matter the occasion - a friend's birthday.</div>
                        </div>
                    </div>
                    </div>
                  
                </div>
            </div>
        </div>
      </section>

    <section id="favoriteCock">
        <div class="container">
            <div class="row">
                @if (highestRatedRecipe != null)
                {
                    <div class="col-lg-7 image">
                        <img style="width: 100%" src="~/assets/photos/Recipes/@highestRatedRecipe.RecipesImages.FirstOrDefault(ri => ri.IsMain == true).Path" />
                    </div>
                    <div class="col-lg-5 text">
                        <div class="favorit">Favorite Cocktail</div>
                        <div class="title">@highestRatedRecipe.Name</div>
                        <p class="branded">@highestRatedRecipe.RecipesCategories.First().Category.Name</p>
                        <div class="desc">@highestRatedRecipe.Desc</div>
                        <div class="price">$@highestRatedRecipe.Price</div>
                        <div class="buttons">
                            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@highestRatedRecipe.Id">
                                <button class="addtobasket" type="submit">Add to basket</button>
                           </a>
                            <button class="seeallSets" type="submit"><a asp-controller="Shop" asp-action="Index">See all recipes</a></button>
                        </div>
                    </div>
                }
              
            </div>
        </div>
      </section>
      <section id="Reviews">
        <div class="container">
            <div class="row">
    <div class="title">
                    Reviews
                </div>
                <div class="text">
                    <span>There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, by injected humour, or randomised.</span>
                </div>
               <div class="">
                <div class="comments center">
                    @foreach(var com in Model.comments)
                    {
                        <div class="comment">
                      <div class="text-comment">
                          <span>@com.Text</span>
                      </div>
                      <div class="user-profil">
                          <div class="user-photo">
                             <div class="image">
                                            <img style="width:60px; height:60px" src="~/assets/photos/myAccount/@com.User.Path">
                             </div> 
                                  <span class="user-name">@com.User.UserName</span>
                          </div>

                                    <div class="written-date">@com.CreationTime.ToString("MMM.dd, yyyy")</div>
                    </div>
  
                      </div>
                    }
                  </div>
               </div>
            </div>
        </div>
            
            
      </section>

      <section id="Partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="text">
                        Partners
                    </div>
                </div>
                <div class="col-lg-9">
                   <div class="partnersImg responsivePartner">

                        @await Html.PartialAsync("_partnerPartial",settings)

                   </div>
                </div>
            </div>
        </div>
      </section>


      <section id="Subscribe">
        <div class="title">
            Subscribe to Mailing List
        </div>
        <div class="text">
           <span> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span>
        </div>
        <div class="sendEmailInputButton">
            <form asp-controller="Home" asp-action="Subscribe">
                <input  name="email" placeholder="Email address" >
            <button type="submit">Sign up</button>
          </form>
        </div>
      </section>
      
    </main>

